## sarasai

In [2]:
tuscias = []
tuscias
# tuscias sarasas

[]

In [3]:
sarasas = [5, 7, 3, 1, 11, 9, 3, 13]
sarasas

[5, 7, 3, 1, 11, 9, 3, 13]

In [4]:
zodziai =["labas", "rytas", "studemtai"]
zodziai

['labas', 'rytas', 'studemtai']

In [4]:
tarpas =" "
tarpas.join(zodziai)
# atvirkstinis split

'labas rytas studemtai'

In [5]:
# ketvirtas saraso elementas
sarasas[3]

1

In [6]:
zodziai[1]
# pasiekti saraso elementa

'rytas'

In [10]:
sarasas.append(12)
sarasas
# i sarasa itrauke skaiciu 12

[5, 7, 3, 1, 9, 9, 3, 13, 12, 12]

In [8]:
zodziai[1] = "vakaras"
zodziai
#  2 elementa pakeicia rytas  i vakaras

['labas', 'vakaras', 'studemtai']

In [9]:
sarasas[4] = 9
sarasas
# pakeicia 4 elementa i 9

[5, 7, 3, 1, 9, 9, 3, 13, 12]

In [1]:
# randa kuris elementas sarase
sarasas.index(13)

NameError: name 'sarasas' is not defined

In [13]:
sarasas.pop(7)
# pop ismeta is saraso 7 elementa

13

In [14]:
len(sarasas)
# saraso ilgis

9

In [15]:
sakinys = "o jau pietu pertrauka ateina"
len(sakinys)

28

In [17]:
zodziai = sakinys.split()

In [18]:
zodziai[3]

'pertrauka'

In [19]:
zodziai[3][6]

'u'

In [20]:
type(sarasas)

list

## zodynai

In [21]:
tz ={}
type(tz)

dict

In [24]:
krepselis = {
    #struktura raktas > reiksme
    "kava": 7.99, #reiksme gali but ir tekstas
    "sausainiai": 2.19,
    "apelsinai": 1.59,
    "ananasas": 3.06,
}
krepselis

{'kava': 7.99, 'sausainiai': 2.19, 'apelsinai': 1.59, 'ananasas': 3.06}

In [25]:
krepselis['kava']

7.99

In [26]:
# keicia zodymo reiksme
krepselis['ananasas'] = 3.57
krepselis

{'kava': 7.99, 'sausainiai': 2.19, 'apelsinai': 1.59, 'ananasas': 3.57}

In [27]:
# prideda i sarasa
krepselis['vanduo'] = 0.29
krepselis

{'kava': 7.99,
 'sausainiai': 2.19,
 'apelsinai': 1.59,
 'ananasas': 3.57,
 'vanduo': 0.29}

In [28]:
#istrina irasa is saraso
del krepselis['sausainiai']
krepselis

{'kava': 7.99, 'apelsinai': 1.59, 'ananasas': 3.57, 'vanduo': 0.29}

In [30]:
# prideda irasa
krepselis['chino\'ai'] = 2.30
krepselis

{'kava': 7.99,
 'apelsinai': 1.59,
 'ananasas': 3.57,
 'vanduo': 0.29,
 "chino'ai": 2.3}

In [33]:
#prideda irasa
krepselis['gerimas "Vytautas"'] = 1.05
krepselis

{'kava': 7.99,
 'apelsinai': 1.59,
 'ananasas': 3.57,
 'vanduo': 0.29,
 "chino'ai": 2.3,
 'gerimas "Vytautas"': 1.05}

## Ciklai

## sarasai

In [35]:
for skaicius in sarasas:
    print(skaicius)

5
7
3
1
9
9
3
12
12

In [37]:
# sudejo suma is viso saraso
suma = 0
for skaicius in sarasas:
    suma +=skaicius
print(suma)

61

In [38]:
# sudeda is eiles viska ir paraso galutine suma
suma = 0
for skaicius in sarasas:
    suma +=skaicius
    print("tarpine suma:", suma)
print('galutine suma:',suma)

tarpine suma: 5
tarpine suma: 12
tarpine suma: 15
tarpine suma: 16
tarpine suma: 25
tarpine suma: 34
tarpine suma: 37
tarpine suma: 49
tarpine suma: 61
galutine suma: 61

## zuodynas

In [43]:
# ciklas per visus zodyno vienetu elementus
suma = 0
for preke, kaina in krepselis.items():
    print(f"{preke}: {kaina}")
    suma += kaina
print(f"viso: {suma}")

kava: 7.99
apelsinai: 1.59
ananasas: 3.57
vanduo: 0.29
chino'ai: 2.3
gerimas "Vytautas": 1.05
viso: 16.79

In [46]:
for preke in krepselis:
    print(preke, krepselis[preke])

kava 7.99
apelsinai 1.59
ananasas 3.57
vanduo 0.29
chino'ai 2.3
gerimas "Vytautas" 1.05

In [47]:
# "for preke" sukuria pavadinima daigtui krepselyja
for preke in krepselis:
    print('preke:', preke, '| kaina:', krepselis[preke])

preke: kava | kaina: 7.99
preke: apelsinai | kaina: 1.59
preke: ananasas | kaina: 3.57
preke: vanduo | kaina: 0.29
preke: chino'ai | kaina: 2.3
preke: gerimas "Vytautas" | kaina: 1.05

In [48]:
for kaina in krepselis.values():
    print(kaina)

7.99
1.59
3.57
0.29
2.3
1.05

In [49]:
#sudeda prekiu kainas
suma = 0
for kaina in krepselis.values():
    suma+= kaina
print(suma)

16.79

## range funkcija

In [50]:
for skaicius in range(1, 11):
    print(skaicius)

1
2
3
4
5
6
7
8
9
10

In [51]:
for skaicius in range(3, 31, 3):
    print(skaicius)

3
6
9
12
15
18
21
24
27
30

In [52]:
tarpinis = 2        
for skaicius in range(2, 11, 2):
    tarpinis *= skaicius
    print(tarpinis)

4
16
96
768
7680

In [53]:
# suskaiciouja metus
for metai in range(1980, 2023):
    print(metai)

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

In [63]:
for skaicius in range(-5, 6):
    print(skaicius)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [66]:
# nuo 2022 iki 1990 po -1
for metai in range(2022, 1990, -1):
    print(metai)

2022
2021
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008
2007
2006
2005
2004
2003
2002
2001
2000
1999
1998
1997
1996
1995
1994
1993
1992
1991

## while ciklas

In [67]:
skaicius=5
while skaicius > 0:
    print(skaicius)
    skaicius -=1

5
4
3
2
1

In [68]:
skaicius =0
while skaicius < 10:
    print("skaicius pries padidinima", skaicius)
    skaicius +=2
    print("padidintas skaicius:", skaicius)

skaicius pries padidinima 0
padidintas skaicius: 2
skaicius pries padidinima 2
padidintas skaicius: 4
skaicius pries padidinima 4
padidintas skaicius: 6
skaicius pries padidinima 6
padidintas skaicius: 8
skaicius pries padidinima 8
padidintas skaicius: 10

In [69]:
for skaicius in range(1,50):
    print(skaicius)
    if skaicius % 17 == 0:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [71]:
# praleidzia 0
for skaicius in range(-2,50):
    print(skaicius)
    if skaicius != 0 and skaicius % 17 == 0:
        break

-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [72]:
#praleidzia po 2
for skaicius in range (0, 11):
    if skaicius % 2 == 0:
       continue
    print(skaicius)

1
3
5
7
9

In [75]:
saugiklis = 5
for skaicius in range(1, 6):
    print(skaicius)
    if skaicius > saugiklis:
        print('saugiklis ismustas')
        break
else:
        print('ciklas sekmingai prasuktas')

1
2
3
4
5
ciklas sekmingai prasuktas

In [76]:
saugiklis = 5
for skaicius in range(1, 7):
    print(skaicius)
    if skaicius > saugiklis:
        print('saugiklis ismustas')
        break
else:
        print('ciklas sekmingai prasuktas')

1
2
3
4
5
6
saugiklis ismustas